<%= simple_form_for [@harbour, @pier], :html => { :class => "form-horizontal pier" } do |f| %>

  <% if @pier.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pier.errors.count, "error") %> prohibited this pier from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.association :harbour, include_blank: false %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>
