<%- model_class = Pier -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:harbour_id) %>:</strong></dt>
  <dd><%= @pier.harbour_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pier.name %></dd>
</dl>
<table class="table table-hover">
  <thead>
    <th>
      Boatslip Number
    </th>
    <th>
      Action
    </th>
  </thead>
  <tbody>
    <!-- each loop rundt om tr på @harbour.piers som giver dig en pier hvor du kan hente pier.name  -->
    <%  @pier.slips.each do |slip| %>
      <tr>
        <td>
          <%= link_to slip.slip_number, device_path  %>
        </td>
        <td>
          Action 1
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Change Boatslips", pier_slips_path(@pier), class: "btn btn-default"  %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              harbour_piers_path(@pier.harbour), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pier_path(@pier), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pier_path(@pier),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
