<p id="notice"><%= notice %></p>

<p>
  <strong>Harbour:</strong>
  <%= @station.harbour_id %>
</p>

<p>
  <strong>Placement:</strong>
  <%= @station.placement %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @station.ip %>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @station.last_seen %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
