<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @data_log.device_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @data_log.status %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @data_log.battery %>
</p>

<p>
  <strong>Station timestamp:</strong>
  <%= @data_log.station_timestamp %>
</p>

<p>
  <strong>Station:</strong>
  <%= @data_log.station_id %>
</p>

<%= link_to 'Edit', edit_data_log_path(@data_log) %> |
<%= link_to 'Back', data_logs_path %>
