<%- model_class = Slip -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:slip_number) %>:</strong></dt>
  <dd><%= @slip.slip_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pier_id) %>:</strong></dt>
  <dd><%= @slip.pier_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              slips_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_slip_path(@slip), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              slip_path(@slip),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
