<p id="notice"><%= notice %></p>

<h1>Listing Bases</h1>

<table>
  <thead>
    <tr>
      <th>Harbour</th>
      <th>Placement</th>
      <th>Ip</th>
      <th>Last seen</th>
      <th>Harbour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bases.each do |bases| %>
      <tr>
        <td><%= bases.harbour_id %></td>
        <td><%= bases.placement %></td>
        <td><%= bases.ip %></td>
        <td><%= bases.last_seen %></td>
        <td><%= bases.harbour %></td>
        <td><%= link_to 'Show', bases %></td>
        <td><%= link_to 'Edit', edit_bases_path(bases) %></td>
        <td><%= link_to 'Destroy', bases, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base', new_bases_path %>
