<p id="notice"><%= notice %></p>

<h1>Listing Bases</h1>

<table>
  <thead>
    <tr>
      <th>Harbour</th>
      <th>Placement</th>
      <th>Ip</th>
      <th>Last seen</th>
      <th>Harbour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bases.each do |basis| %>
      <tr>
        <td><%= basis.harbour_id %></td>
        <td><%= basis.placement %></td>
        <td><%= basis.ip %></td>
        <td><%= basis.last_seen %></td>
        <td><%= basis.harbour %></td>
        <td><%= link_to 'Show', basis %></td>
        <td><%= link_to 'Edit', edit_basis_path(basis) %></td>
        <td><%= link_to 'Destroy', basis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base', new_basis_path %>
