<p id="notice"><%= notice %></p>

<p>
  <strong>Harbour:</strong>
  <%= @bases.harbour_id %>
</p>

<p>
  <strong>Placement:</strong>
  <%= @bases.placement %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @bases.ip %>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @bases.last_seen %>
</p>

<p>
  <strong>Harbour:</strong>
  <%= @bases.harbour %>
</p>

<%= link_to 'Edit', edit_bases_path(@bases) %> |
<%= link_to 'Back', bases_path %>
